html {
  background-color: #504c4b;
}

.keys {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #2a2221;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: #332d33;
  text-shadow: 0 0 .5rem #342525;
}

.playing {
  transform: scale(1.1);
  border-color: #d64f4f;
  box-shadow: 0 0 1rem #d64f4f;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #a33e3e;
}
